@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

:root {
  --linear-gradient: 90deg, #38bdf8, #6d28d9, #4c1d95;
  --color-text: #dfe3ea;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

#container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(var(--linear-gradient));
  color: var(--color-text);
}

#calculator {
  background-color: #262626;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.32);
  display: flex;
  flex-direction: column;
  gap: 25px;
}

#calculator h2 {
  font-size: 30px;
  position: relative;
}

#calculator h2::before {
  position: absolute;
  content: '';
  height: 2px;
  width: 150px;
  background: linear-gradient(var(--linear-gradient));
  bottom: 5px;
}

#input_box {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.input-field {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-field label{
  font-size: 15px;
  columns: var(--color-text);
  font-weight: 500;
}

.input-field input {
  font-size: 16px;
  background-color: transparent;
  color: #fff;
  border: none;
  border-bottom: 1px solid #4c1d95;
  padding: 5px;
}

.input-field input:focus {
  outline: none;
}

#feeType {
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

#feeType span {
  padding-left: 5px;
  font-size: 14px;
}

#result {
  text-align: center;
}

#total {
  font-size: 40px;
}

#calculate {
  background: linear-gradient(var(--linear-gradient));
  border: none;
  padding: 10px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}
  